[Desktop Entry]
Name=ScopeBuddy GUI
Comment=Configure ScopeBuddy
Exec=scopebuddy_gui.py
Icon=io.github.rfrench3.scopebuddy-gui
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
