[Desktop Entry]
Name=ScopeBuddy GUI
Comment=Configure ScopeBuddy
Exec=scopebuddy_gui.py
Icon=org.flatpak.scopebuddyGUI
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
